@font-face {
	font-family: Cormorant;
	src: url(fonts/cormorant/Cormorant-Regular.ttf);
}

* {
	font-family: Cormorant, Cera Pro;
}

.clickable {
	cursor: pointer;
}

.button {
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	background-size: cover;
	outline: none;
}

@mixin absolute-center {
	left: 0;
	right: 0;
	margin: 0 auto;
}

@mixin color-dark {
	color: #27374d;
}

@mixin color-light {
	color: #f4f3f8;
}

@mixin text-12-cera {
	font-family: Cera Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
}

@mixin text-18-cera {
	font-family: Cera Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
}

@mixin text-30-cera {
	font-family: Cera Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 100%;
}

@mixin text-48-cor {
	font-family: Cormorant;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.section-1 {
		height: 1440px;
		width: 100%;

		@media only screen and (max-width: 1439px) {
			height: 880px;
		}

		@media only screen and (max-width: 767px) {
			height: 1920px;
		}

		> .info {
			position: relative;
			height: 740px;

			@media only screen and (max-width: 1439px) {
				height: 500px;
			}

			> .title {
				position: absolute;
				width: 547px;
				height: 100px;
				left: 165px;
				top: 231px;
				@include text-48-cor();
				@include color-dark();

				@media only screen and (max-width: 1439px) {
					width: 381px;
					height: 60px;
					left: 46px;
					top: 155px;
					font-size: 33px;
					line-height: 95%;
				}

				@media only screen and (max-width: 767px) {
					width: 250px;
					height: 145px;
					left: 46px;
					top: 155px;
					font-size: 33px;
					line-height: 95%;
				}
			}

			> .description {
				position: absolute;
				width: 505px;
				height: 130px;
				left: 165px;
				top: 360px;
				font-family: Cera Pro;
				font-style: normal;
				font-weight: normal;
				font-size: 21px;
				line-height: 26px;
				@include color-dark();

				@media only screen and (max-width: 1439px) {
					width: 314px;
					height: 120px;
					left: 46px;
					top: 252px;
					font-size: 14px;
					line-height: 18px;
				}

				@media only screen and (max-width: 767px) {
					width: 250px;
					height: 145px;
					left: 46px;
					top: 652px;
					font-size: 14px;
					line-height: 18px;
				}
			}

			> .button {
				background-image: url("img/button.svg");
				position: absolute;
				width: 262px;
				height: 67px;
				left: 165px;
				top: 540px;
				@include text-18-cera();

				@media only screen and (max-width: 1439px) {
					width: 185px;
					height: 47.31px;
					left: 45px;
					top: 414px;
					@include text-12-cera();
				}

				@media only screen and (max-width: 767px) {
					width: 185px;
					height: 47.31px;
					left: 70px;
					top: 800px;
					@include text-12-cera();
				}
			}
		}

		.circles {
			position: absolute;
			width: 100%;
			min-height: 1500px;
			background-image: url("img/circles.png");
			background-repeat: no-repeat;
			background-size: 100%;
		}

		> .logo {
			background-image: url("img/logo-dark.svg");
			position: absolute;
			width: 191.04px;
			height: 80.89px;
			left: 165px;
			top: 93.16px;
			background-size: cover;
			background-repeat: no-repeat;

			@media only screen and (max-width: 1439px) {
				width: 151px;
				height: 63.93px;
				left: 46px;
				top: 44px;
			}
		}

		> .flags {
			position: relative;
			width: 39px;
			height: 26px;
			left: 1141px;
			top: 122px;
			z-index: 10;

			.ru {
				background-image: url("img/flags/ru.svg");
				position: absolute;
				width: 39px;
				height: 26px;
				top: 122px;
				z-index: 10;
			}

			// обводка выбранного флага
			// .ru:after {
			// 	content: '';
			// 	background-image: url("img/flags/Rectangle\ 15.svg");
			// 	position: absolute;
			// 	width: 51px;
			// 	height: 37px;
			// 	left: 1137px;
			// 	top: 119px;

			// 	/* Red */

			// 	background: #F3D6E0;
			// 	border-radius: 5px;
			// }

			// .ru::before {
			// 	content: '';
			// 	background-image: url("img/flags/Rectangle\ 16.svg");
			// 	position: absolute;
			// 	width: 51px;
			// 	height: 37px;
			// 	left: 1135px;
			// 	top: 117px;

			// 	/* Dark */

			// 	border: 1px solid #27374D;
			// 	box-sizing: border-box;
			// 	border-radius: 5px;
			// }

			> .en {
				background-image: url("img/flags/en.svg");
				width: 39px;
				height: 26px;
				left: 1210px;
				top: 122px;
				z-index: 10;
			}
		}

		> .img {
			position: absolute;
			width: 632px;
			height: 688px;
			right: 75px;
			top: 50px;
			background: url("img/section-1/M_start\ 2.png");
			background-size: contain;
			background-repeat: no-repeat;

			@media only screen and (max-width: 1439px) {
				width: 385px;
				height: 419px;
				right: 40px;
				top: 49px;
			}

			@media only screen and (max-width: 767px) {
				width: 290px;
				height: 313px;
				left: 15px;
				top: 300px;
			}
		}

		> .steps {
			position: relative;
			width: 100%;
			height: 705px;

			@media only screen and (max-width: 1439px) {
				height: 500px;
				top: -80px;
			}

			@media only screen and (max-width: 767px) {
				top: 335px;
			}

			> .title {
				position: absolute;
				width: 100%;
				height: 30px;
				top: 75px;
				font-family: Cera Pro;
				font-style: normal;
				font-weight: normal;
				font-size: 30px;
				line-height: 100%;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				text-align: center;
				@include color-dark();

				@media only screen and (max-width: 1439px) {
					width: 100%;
					font-size: 18px;
				}
			}

			> .img {
				position: absolute;
				max-width: 1110px;
				width: 100%;
				height: 100%;
				top: 63px;
				@include absolute-center();

				background: url("img/section-1/steps.png");
				background-size: contain;
				background-repeat: no-repeat;

				@media only screen and (max-width: 1439px) {
					max-width: 687px;
					height: 310px;
					top: 63px;
				}

				@media only screen and (max-width: 767px) {
					background: url("img/section-1/steps-vert.png");
					background-size: contain;
					background-repeat: no-repeat;
					height: 1000px;
					width: 317px;
				}
			}

			> .description-container {
				position: relative;
				max-width: 1110px;
				top: 490px;
				height: 147px;
				bottom: 30px;
				@include absolute-center();
				display: flex;
				justify-content: space-around;

				@media only screen and (max-width: 1439px) {
					top: 330px;
					width: 687px;
				}

				@media only screen and (max-width: 767px) {
					top: 330px;
					width: 320px;
				}

				> .description-1 {
					position: absolute;
					width: 220px;
					height: 126px;
					left: 66px;
					text-align: center;
					@include text-18-cera();
					@include color-dark();

					@media only screen and (max-width: 1439px) {
						@include text-12-cera();
						width: 146px;
						left: 30px;
					}

					@media only screen and (max-width: 767px) {
						@include text-12-cera();
						width: 146px;
						left: 80px;
						top: 35px;
					}
				}

				> .description-2 {
					position: absolute;
					width: 220px;
					height: 133px;
					left: 430px;
					text-align: center;
					@include text-18-cera();
					@include color-dark();

					@media only screen and (max-width: 1439px) {
						@include text-12-cera();
						width: 146px;
						left: 260px;
					}

					@media only screen and (max-width: 767px) {
						@include text-12-cera();
						width: 146px;
						left: 80px;
						top: 355px;
					}
				}

				> .description-3 {
					position: absolute;
					width: 220px;
					height: 130px;
					left: 795px;
					text-align: center;
					@include text-18-cera();
					@include color-dark();

					@media only screen and (max-width: 1439px) {
						@include text-12-cera();
						width: 146px;
						left: 490px;
					}

					@media only screen and (max-width: 767px) {
						@include text-12-cera();
						width: 146px;
						left: 80px;
						top: 650px;
					}
				}
			}
		}
	}

	/* Что это даёт? */
	> .section-2 {
		width: 100%;
		height: 600px;
		background: rgba(177, 228, 251, 0.3);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 30px 0;

		@media only screen and (max-width: 1439px) {
			height: 450px;
			top: 875px;
		}

		@media only screen and (max-width: 767px) {
			height: auto;
			top: 875px;
		}

		> .section-title {
			width: 100%;
			height: 30px;
			font-family: Cera Pro;
			font-style: normal;
			font-weight: normal;
			font-size: 30px;
			line-height: 100%;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			text-align: center;
			@include color-dark();

			@media only screen and (max-width: 1439px) {
				top: 35px;
				@include text-18-cera();
			}
		}

		> .cards {
			width: 100%;
			max-width: 1440px;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;

			.card {
				position: relative;
				width: 355px;
				height: 425px;
				// top: -20px;
				background-size: cover;
				background-repeat: no-repeat;
				margin: 10px;

				@media only screen and (max-width: 1439px) {
					width: 200px;
					height: 295px;
					@include text-18-cera();
				}

				> .title {
					position: absolute;
					width: 220px;

					height: 77px;
					left: 65px;
					top: 43px;

					font-family: Cormorant;
					font-style: normal;
					font-weight: bold;
					font-size: 30px;
					line-height: 90%;
					@include color-dark();

					@media only screen and (max-width: 1439px) {
						width: 155px;
						height: 60px;
						left: 30px;
						top: 30px;

						font-size: 21px;
					}
				}

				> .description {
					position: absolute;
					width: 219px;
					height: 240px;
					left: 65px;
					top: 150px;
					@include text-18-cera();
					@include color-dark();

					@media only screen and (max-width: 1439px) {
						width: 147px;
						height: 150px;
						left: 35px;
						top: 100px;
						@include text-12-cera();
					}
				}
			}

			.card-1 {
				background-image: url("img/section-2/card1.svg");
			}
			.card-2 {
				background-image: url("img/section-2/card2.svg");
			}
			.card-3 {
				background-image: url("img/section-2/card3.svg");
			}
		}
	}

	> .section-3 {
		position: relative;
		width: 100%;
		height: 601px;
		left: 0px;
		top: -65px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		@media only screen and (max-width: 1439px) {
			height: 344px;
		}

		@media only screen and (max-width: 767px) {
			height: 630px;
		}

		> .img {
			width: 528px;
			height: 510px;
			left: 230px;
			top: 15px;
			background: url("img/section-3/M_start3.png");
			background-size: contain;
			background-repeat: no-repeat;

			@media only screen and (max-width: 1439px) {
				width: 356px;
				height: 344px;
			}

			@media only screen and (max-width: 1439px) {
				width: 290px;
				height: 280px;
			}
		}

		> .info {
			position: relative;
			margin-left: 50px;

			> .title {
				width: 380px;
				height: 360px;
				left: 800px;
				top: 75px;
				font-family: Cormorant;
				font-style: normal;
				font-weight: bold;
				font-size: 33px;
				line-height: 100%;
				display: flex;
				align-items: center;
				@include color-dark();

				@media only screen and (max-width: 1439px) {
					width: 281px;
					height: 191px;
					font-size: 33px;
					line-height: 100%;
				}
			}

			> .button {
				background-image: url("img/button.svg");
				position: absolute;
				width: 262px;
				height: 67px;
				bottom: -65px;
				@include text-18-cera();

				@media only screen and (max-width: 1439px) {
					width: 185px;
					height: 47px;
				}

				@media only screen and (max-width: 620px) {
					left: 20px;
				}
			}
		}
	}

	> .section-4 {
		position: relative;
		width: 100%;
		// height: 702px;
		left: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media only screen and (max-width: 1439px) {
			// height: 560px;
		}

		> .title {
			width: 100%;
			height: 30px;
			top: 20px;
			font-family: Cera Pro;
			font-style: normal;
			font-weight: normal;
			font-size: 30px;
			line-height: 100%;
			text-align: center;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			@include color-dark();

			@media only screen and (max-width: 1439px) {
				@include text-18-cera();
			}

			@media only screen and (max-width: 767px) {
				width: 200px;
				height: unset;
			}
		}

		> .cards {
			width: 100%;
			max-width: 1440px;
			top: 97px;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			@include absolute-center();
			margin: 50px 0;

			.card {
				position: relative;
				width: 350px;
				height: 570px;
				background: #27374d;
				border-radius: 10px;
				margin: 10px;

				@media only screen and (max-width: 1439px) {
					width: 206px;
					height: 420px;
				}

				.img {
					position: absolute;
					top: 60px;
					@include absolute-center();
					background-size: contain;
					background-repeat: no-repeat;

					@media only screen and (max-width: 1439px) {
						top: 35px;
					}
				}

				.title {
					position: relative;
					width: 222px;
					height: 77px;
					top: 250px;
					font-family: Cormorant;
					font-style: normal;
					font-weight: bold;
					font-size: 30px;
					line-height: 90%;
					color: #fff;
					text-align: center;
					@include absolute-center();

					@media only screen and (max-width: 1439px) {
						width: 200px;
						font-size: 24px;
						top: 175px;
					}
				}

				> .description {
					position: absolute;
					width: 243px;
					height: 240px;
					@include absolute-center();
					top: 330px;
					@include text-18-cera();
					color: #fff;
					text-align: center;

					@media only screen and (max-width: 1439px) {
						width: 200px;
						top: 230px;
						font-size: 14px;
					}
				}
			}

			> .card-1 {
				> .img {
					background-image: url("img/section-4/gid.png");
					width: 89px;
					height: 150px;

					@media only screen and (max-width: 1439px) {
						height: 116px;
						width: 68px;
					}
				}
			}

			> .card-2 {
				> .img {
					background-image: url("img/section-4/Group\ 145.png");
					width: 152px;
					height: 150px;

					@media only screen and (max-width: 1439px) {
						width: 120px;
						height: 122px;
					}
				}
			}

			> .card-3 {
				> .img {
					background-image: url("img/section-4/Group\ 157.png");
					width: 114px;
					height: 150px;

					@media only screen and (max-width: 1439px) {
						width: 91px;
						height: 120px;
					}
				}
			}
		}
	}

	.section-5 {
		position: relative;
		width: 100%;
		height: 807px;
		margin-bottom: 100px;

		> .title {
			width: 100%;
			max-width: 800px;
			height: 270px;
			@include absolute-center();
			@include text-48-cor();
			display: flex;
			align-items: center;
			text-align: center;
			@include color-dark();

			@media only screen and (max-width: 1439px) {
				max-width: 670px;
			}

			@media only screen and (max-width: 767px) {
				width: 215px;
				font-family: Cormorant;
				font-style: normal;
				font-weight: bold;
				font-size: 33px;
				line-height: 100%;
			}
		}

		> form {
			width: 100%;
			max-width: 1110px;
			height: 480px;
			@include absolute-center();
			top: 233px;
			background: #f4f3f8;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin-top: 50px;
			padding: 20px 0;
			align-items: center;

			> * {
				font-family: Cera Pro;
			}

			@media only screen and (max-width: 1439px) {
				top: 170px;
				max-width: 678px;
				height: 450px;
			}

			> .title {
				height: 30px;
				top: 60px;
				font-size: 30px;
				line-height: 100%;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				@include color-dark();

				@media only screen and (max-width: 1439px) {
					top: 30px;
					@include text-18-cera();
				}
			}

			.contact-inputs {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;

				> .input-name {
					width: 475px;
					height: 60px;
					left: 65px;
					top: 120px;
					background: #ffffff;
					padding: 10px 35px;
					box-sizing: border-box;
					border: none;
					margin: 10px;

					@media only screen and (max-width: 1439px) {
						top: 90px;
						left: 45px;
						width: 279px;
						height: 45px;
					}
				}

				> .input-email {
					width: 475px;
					height: 60px;
					right: 70px;
					top: 120px;
					background: #ffffff;
					padding: 10px 35px;
					box-sizing: border-box;
					border: none;
					margin: 10px;

					@media only screen and (max-width: 1439px) {
						top: 90px;
						width: 279px;
						height: 45px;
						right: 45px;
					}
				}
			}

			> .input-message {
				width: 980px;
				height: 120px;
				top: 210px;
				background: #ffffff;
				padding: 10px 35px;
				box-sizing: border-box;
				border: none;

				@media only screen and (max-width: 1439px) {
					top: 160px;
					width: 588px;
					height: 180px;
				}

				@media only screen and (max-width: 767px) {
					width: 90%;
					height: 180px;
				}
			}

			> .button {
				background-image: url("img/button1.svg");
				background-size: cover;
				background-repeat: no-repeat;
				width: 227px;
				height: 67px;
				top: 396px;
				@include text-18-cera();
				@include absolute-center();

				@media only screen and (max-width: 1439px) {
					top: 360px;
					width: 185px;
					height: 55px;
				}
			}
		}
	}

	footer {
		position: relative;
		width: 100%;
		// height: 236px;
		background: #27374d;
		padding: 25px 0;

		.centred-container {
			width: 100%;
			max-width: 1440px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;

			.logo-social {
				position: relative;
				width: 191px;
				height: 145px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;

				@media only screen and (max-width: 1439px) {
					height: 120px;
				}

				.logo {
					background-image: url("img/logo-light.svg");
					width: 191px;
					height: 84px;
					background-size: contain;
					background-repeat: no-repeat;

					@media only screen and (max-width: 1439px) {
						width: 150px;
						height: 64px;
					}
				}

				.social {
					width: 150px;
					height: 30px;
					left: 21px;
					top: 115px;
					display: flex;
					justify-content: space-between;

					.vk {
						background-image: url("img/social/vk.svg");
						width: 30px;
						height: 30px;
					}

					.facebook {
						background-image: url("img/social/facebook.svg");
						width: 30px;
						height: 30px;
					}

					.instagram {
						background-image: url("img/social/instagram.svg");
						width: 30px;
						height: 30px;
					}
				}
			}

			> .contacts {
				position: relative;
				width: 316px;
				height: 126px;
				margin: 50px 0;
				display: flex;
				flex-direction: column;

				@media only screen and (max-width: 767px) {
					width: 100%;
					align-items: center;
				}

				> .title {
					height: 23px;
					@include text-18-cera();
					letter-spacing: 0.1em;
					text-transform: uppercase;
					@include color-light();
				}

				.phone-email-container {
					margin: 20px 0;

					> .phone,
					.email {
						top: 45px;
						@include text-18-cera();
						@include color-light();

						@media only screen and (max-width: 767px) {
							text-align: center;
						}
					}
				}

				> .address {
					height: 23px;
					@include text-18-cera();
					@include color-light();
				}
			}

			> .logo-uniday {
				width: 150px;
				height: 120px;
				background-image: url("img/logo-uniday.svg");
				background-size: contain;
				background-repeat: no-repeat;

				@media only screen and (max-width: 767px) {
					width: 250px;
					height: 60px;
					background-image: url("img/logo-uniday-hor.svg");
				}
			}
		}
	}
}
