@charset "UTF-8";
@font-face {
  font-family: Cormorant;
  src: url(fonts/cormorant/Cormorant-Regular.ttf);
}

* {
  font-family: Cormorant, Cera Pro;
}

.clickable {
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Что это даёт? */
}

.container .section-1 {
  height: 1440px;
  width: 100%;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 {
    height: 880px;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-1 {
    height: 1920px;
  }
}

.container .section-1 > .info {
  position: relative;
  height: 740px;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .info {
    height: 500px;
  }
}

.container .section-1 > .info > .title {
  position: absolute;
  width: 547px;
  height: 100px;
  left: 165px;
  top: 231px;
  font-family: Cormorant;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .info > .title {
    width: 381px;
    height: 60px;
    left: 46px;
    top: 155px;
    font-size: 33px;
    line-height: 95%;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-1 > .info > .title {
    width: 250px;
    height: 145px;
    left: 46px;
    top: 155px;
    font-size: 33px;
    line-height: 95%;
  }
}

.container .section-1 > .info > .description {
  position: absolute;
  width: 505px;
  height: 130px;
  left: 165px;
  top: 360px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .info > .description {
    width: 314px;
    height: 120px;
    left: 46px;
    top: 252px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-1 > .info > .description {
    width: 250px;
    height: 145px;
    left: 46px;
    top: 652px;
    font-size: 14px;
    line-height: 18px;
  }
}

.container .section-1 > .info > .button {
  background-image: url("img/button.svg");
  position: absolute;
  width: 262px;
  height: 67px;
  left: 165px;
  top: 540px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .info > .button {
    width: 185px;
    height: 47.31px;
    left: 45px;
    top: 414px;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-1 > .info > .button {
    width: 185px;
    height: 47.31px;
    left: 70px;
    top: 800px;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
}

.container .section-1 .circles {
  position: absolute;
  width: 100%;
  min-height: 1500px;
  background-image: url("img/circles.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container .section-1 > .logo {
  background-image: url("img/logo-dark.svg");
  position: absolute;
  width: 191.04px;
  height: 80.89px;
  left: 165px;
  top: 93.16px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .logo {
    width: 151px;
    height: 63.93px;
    left: 46px;
    top: 44px;
  }
}

.container .section-1 > .flags {
  position: relative;
  width: 39px;
  height: 26px;
  left: 1141px;
  top: 122px;
  z-index: 10;
}

.container .section-1 > .flags .ru {
  background-image: url("img/flags/ru.svg");
  position: absolute;
  width: 39px;
  height: 26px;
  top: 122px;
  z-index: 10;
}

.container .section-1 > .flags > .en {
  background-image: url("img/flags/en.svg");
  width: 39px;
  height: 26px;
  left: 1210px;
  top: 122px;
  z-index: 10;
}

.container .section-1 > .img {
  position: absolute;
  width: 632px;
  height: 688px;
  right: 75px;
  top: 50px;
  background: url("img/section-1/M_start 2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .img {
    width: 385px;
    height: 419px;
    right: 40px;
    top: 49px;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-1 > .img {
    width: 290px;
    height: 313px;
    left: 15px;
    top: 300px;
  }
}

.container .section-1 > .steps {
  position: relative;
  width: 100%;
  height: 705px;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .steps {
    height: 500px;
    top: -80px;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-1 > .steps {
    top: 335px;
  }
}

.container .section-1 > .steps > .title {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 75px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .steps > .title {
    width: 100%;
    font-size: 18px;
  }
}

.container .section-1 > .steps > .img {
  position: absolute;
  max-width: 1110px;
  width: 100%;
  height: 100%;
  top: 63px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url("img/section-1/steps.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .steps > .img {
    max-width: 687px;
    height: 310px;
    top: 63px;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-1 > .steps > .img {
    background: url("img/section-1/steps-vert.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1000px;
    width: 317px;
  }
}

.container .section-1 > .steps > .description-container {
  position: relative;
  max-width: 1110px;
  top: 490px;
  height: 147px;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .steps > .description-container {
    top: 330px;
    width: 687px;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-1 > .steps > .description-container {
    top: 330px;
    width: 320px;
  }
}

.container .section-1 > .steps > .description-container > .description-1 {
  position: absolute;
  width: 220px;
  height: 126px;
  left: 66px;
  text-align: center;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .steps > .description-container > .description-1 {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 146px;
    left: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-1 > .steps > .description-container > .description-1 {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 146px;
    left: 80px;
    top: 35px;
  }
}

.container .section-1 > .steps > .description-container > .description-2 {
  position: absolute;
  width: 220px;
  height: 133px;
  left: 430px;
  text-align: center;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .steps > .description-container > .description-2 {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 146px;
    left: 260px;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-1 > .steps > .description-container > .description-2 {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 146px;
    left: 80px;
    top: 355px;
  }
}

.container .section-1 > .steps > .description-container > .description-3 {
  position: absolute;
  width: 220px;
  height: 130px;
  left: 795px;
  text-align: center;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container .section-1 > .steps > .description-container > .description-3 {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 146px;
    left: 490px;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-1 > .steps > .description-container > .description-3 {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 146px;
    left: 80px;
    top: 650px;
  }
}

.container > .section-2 {
  width: 100%;
  height: 600px;
  background: rgba(177, 228, 251, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

@media only screen and (max-width: 1439px) {
  .container > .section-2 {
    height: 450px;
    top: 875px;
  }
}

@media only screen and (max-width: 767px) {
  .container > .section-2 {
    height: auto;
    top: 875px;
  }
}

.container > .section-2 > .section-title {
  width: 100%;
  height: 30px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container > .section-2 > .section-title {
    top: 35px;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
  }
}

.container > .section-2 > .cards {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container > .section-2 > .cards .card {
  position: relative;
  width: 355px;
  height: 425px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}

@media only screen and (max-width: 1439px) {
  .container > .section-2 > .cards .card {
    width: 200px;
    height: 295px;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
  }
}

.container > .section-2 > .cards .card > .title {
  position: absolute;
  width: 220px;
  height: 77px;
  left: 65px;
  top: 43px;
  font-family: Cormorant;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 90%;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container > .section-2 > .cards .card > .title {
    width: 155px;
    height: 60px;
    left: 30px;
    top: 30px;
    font-size: 21px;
  }
}

.container > .section-2 > .cards .card > .description {
  position: absolute;
  width: 219px;
  height: 240px;
  left: 65px;
  top: 150px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container > .section-2 > .cards .card > .description {
    width: 147px;
    height: 150px;
    left: 35px;
    top: 100px;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
}

.container > .section-2 > .cards .card-1 {
  background-image: url("img/section-2/card1.svg");
}

.container > .section-2 > .cards .card-2 {
  background-image: url("img/section-2/card2.svg");
}

.container > .section-2 > .cards .card-3 {
  background-image: url("img/section-2/card3.svg");
}

.container > .section-3 {
  position: relative;
  width: 100%;
  height: 601px;
  left: 0px;
  top: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1439px) {
  .container > .section-3 {
    height: 344px;
  }
}

@media only screen and (max-width: 767px) {
  .container > .section-3 {
    height: 630px;
  }
}

.container > .section-3 > .img {
  width: 528px;
  height: 510px;
  left: 230px;
  top: 15px;
  background: url("img/section-3/M_start3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1439px) {
  .container > .section-3 > .img {
    width: 356px;
    height: 344px;
  }
}

@media only screen and (max-width: 1439px) {
  .container > .section-3 > .img {
    width: 290px;
    height: 280px;
  }
}

.container > .section-3 > .info {
  position: relative;
  margin-left: 50px;
}

.container > .section-3 > .info > .title {
  width: 380px;
  height: 360px;
  left: 800px;
  top: 75px;
  font-family: Cormorant;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container > .section-3 > .info > .title {
    width: 281px;
    height: 191px;
    font-size: 33px;
    line-height: 100%;
  }
}

.container > .section-3 > .info > .button {
  background-image: url("img/button.svg");
  position: absolute;
  width: 262px;
  height: 67px;
  bottom: -65px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

@media only screen and (max-width: 1439px) {
  .container > .section-3 > .info > .button {
    width: 185px;
    height: 47px;
  }
}

@media only screen and (max-width: 620px) {
  .container > .section-3 > .info > .button {
    left: 20px;
  }
}

.container > .section-4 {
  position: relative;
  width: 100%;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container > .section-4 > .title {
  width: 100%;
  height: 30px;
  top: 20px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container > .section-4 > .title {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
  }
}

@media only screen and (max-width: 767px) {
  .container > .section-4 > .title {
    width: 200px;
    height: unset;
  }
}

.container > .section-4 > .cards {
  width: 100%;
  max-width: 1440px;
  top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin: 50px 0;
}

.container > .section-4 > .cards .card {
  position: relative;
  width: 350px;
  height: 570px;
  background: #27374d;
  border-radius: 10px;
  margin: 10px;
}

@media only screen and (max-width: 1439px) {
  .container > .section-4 > .cards .card {
    width: 206px;
    height: 420px;
  }
}

.container > .section-4 > .cards .card .img {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1439px) {
  .container > .section-4 > .cards .card .img {
    top: 35px;
  }
}

.container > .section-4 > .cards .card .title {
  position: relative;
  width: 222px;
  height: 77px;
  top: 250px;
  font-family: Cormorant;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 90%;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media only screen and (max-width: 1439px) {
  .container > .section-4 > .cards .card .title {
    width: 200px;
    font-size: 24px;
    top: 175px;
  }
}

.container > .section-4 > .cards .card > .description {
  position: absolute;
  width: 243px;
  height: 240px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 330px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 1439px) {
  .container > .section-4 > .cards .card > .description {
    width: 200px;
    top: 230px;
    font-size: 14px;
  }
}

.container > .section-4 > .cards > .card-1 > .img {
  background-image: url("img/section-4/gid.png");
  width: 89px;
  height: 150px;
}

@media only screen and (max-width: 1439px) {
  .container > .section-4 > .cards > .card-1 > .img {
    height: 116px;
    width: 68px;
  }
}

.container > .section-4 > .cards > .card-2 > .img {
  background-image: url("img/section-4/Group 145.png");
  width: 152px;
  height: 150px;
}

@media only screen and (max-width: 1439px) {
  .container > .section-4 > .cards > .card-2 > .img {
    width: 120px;
    height: 122px;
  }
}

.container > .section-4 > .cards > .card-3 > .img {
  background-image: url("img/section-4/Group 157.png");
  width: 114px;
  height: 150px;
}

@media only screen and (max-width: 1439px) {
  .container > .section-4 > .cards > .card-3 > .img {
    width: 91px;
    height: 120px;
  }
}

.container .section-5 {
  position: relative;
  width: 100%;
  height: 807px;
  margin-bottom: 100px;
}

.container .section-5 > .title {
  width: 100%;
  max-width: 800px;
  height: 270px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: Cormorant;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container .section-5 > .title {
    max-width: 670px;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-5 > .title {
    width: 215px;
    font-family: Cormorant;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 100%;
  }
}

.container .section-5 > form {
  width: 100%;
  max-width: 1110px;
  height: 480px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 233px;
  background: #f4f3f8;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section-5 > form > * {
  font-family: Cera Pro;
}

@media only screen and (max-width: 1439px) {
  .container .section-5 > form {
    top: 170px;
    max-width: 678px;
    height: 450px;
  }
}

.container .section-5 > form > .title {
  height: 30px;
  top: 60px;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #27374d;
}

@media only screen and (max-width: 1439px) {
  .container .section-5 > form > .title {
    top: 30px;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
  }
}

.container .section-5 > form .contact-inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .section-5 > form .contact-inputs > .input-name {
  width: 475px;
  height: 60px;
  left: 65px;
  top: 120px;
  background: #ffffff;
  padding: 10px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin: 10px;
}

@media only screen and (max-width: 1439px) {
  .container .section-5 > form .contact-inputs > .input-name {
    top: 90px;
    left: 45px;
    width: 279px;
    height: 45px;
  }
}

.container .section-5 > form .contact-inputs > .input-email {
  width: 475px;
  height: 60px;
  right: 70px;
  top: 120px;
  background: #ffffff;
  padding: 10px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin: 10px;
}

@media only screen and (max-width: 1439px) {
  .container .section-5 > form .contact-inputs > .input-email {
    top: 90px;
    width: 279px;
    height: 45px;
    right: 45px;
  }
}

.container .section-5 > form > .input-message {
  width: 980px;
  height: 120px;
  top: 210px;
  background: #ffffff;
  padding: 10px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

@media only screen and (max-width: 1439px) {
  .container .section-5 > form > .input-message {
    top: 160px;
    width: 588px;
    height: 180px;
  }
}

@media only screen and (max-width: 767px) {
  .container .section-5 > form > .input-message {
    width: 90%;
    height: 180px;
  }
}

.container .section-5 > form > .button {
  background-image: url("img/button1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 227px;
  height: 67px;
  top: 396px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media only screen and (max-width: 1439px) {
  .container .section-5 > form > .button {
    top: 360px;
    width: 185px;
    height: 55px;
  }
}

.container footer {
  position: relative;
  width: 100%;
  background: #27374d;
  padding: 25px 0;
}

.container footer .centred-container {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container footer .centred-container .logo-social {
  position: relative;
  width: 191px;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1439px) {
  .container footer .centred-container .logo-social {
    height: 120px;
  }
}

.container footer .centred-container .logo-social .logo {
  background-image: url("img/logo-light.svg");
  width: 191px;
  height: 84px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1439px) {
  .container footer .centred-container .logo-social .logo {
    width: 150px;
    height: 64px;
  }
}

.container footer .centred-container .logo-social .social {
  width: 150px;
  height: 30px;
  left: 21px;
  top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container footer .centred-container .logo-social .social .vk {
  background-image: url("img/social/vk.svg");
  width: 30px;
  height: 30px;
}

.container footer .centred-container .logo-social .social .facebook {
  background-image: url("img/social/facebook.svg");
  width: 30px;
  height: 30px;
}

.container footer .centred-container .logo-social .social .instagram {
  background-image: url("img/social/instagram.svg");
  width: 30px;
  height: 30px;
}

.container footer .centred-container > .contacts {
  position: relative;
  width: 316px;
  height: 126px;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 767px) {
  .container footer .centred-container > .contacts {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container footer .centred-container > .contacts > .title {
  height: 23px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #f4f3f8;
}

.container footer .centred-container > .contacts .phone-email-container {
  margin: 20px 0;
}

.container footer .centred-container > .contacts .phone-email-container > .phone,
.container footer .centred-container > .contacts .phone-email-container .email {
  top: 45px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #f4f3f8;
}

@media only screen and (max-width: 767px) {
  .container footer .centred-container > .contacts .phone-email-container > .phone,
  .container footer .centred-container > .contacts .phone-email-container .email {
    text-align: center;
  }
}

.container footer .centred-container > .contacts > .address {
  height: 23px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #f4f3f8;
}

.container footer .centred-container > .logo-uniday {
  width: 150px;
  height: 120px;
  background-image: url("img/logo-uniday.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .container footer .centred-container > .logo-uniday {
    width: 250px;
    height: 60px;
    background-image: url("img/logo-uniday-hor.svg");
  }
}
/*# sourceMappingURL=index.css.map */